#auth-panel {
    width: 400px;
    height: 300px;
    padding-left: 40px;
}

#auth-panel h2 {
    letter-spacing: 0.7px;
}

input {
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 3px;
}

input::placeholder {
    /* font-weight: bold; */
    font-size: large;
    opacity: 0.5;
    text-decoration-color: aqua;
}

#username,
#password {
    padding-left: 15px;
    font-size: large;
    color: #506575;
}

#authBtn {
    display: grid;
    width: 367px;
    grid-template-columns: 367px 367px;
    overflow: hidden;
}

#regBtn,
#signBtn {
    height: 40px;
    margin-bottom: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s;
}

#regBtn:active,
#signBtn:active {
    color: #666;
    box-shadow: 0 2px;
}

#regBtn:hover,
#signBtn:hover {
    background-color: #e7e7e7;
}

#siftBtn {
    display: grid;
    width: 365px;
    grid-template-columns: 365px 365px;
    overflow: hidden;
    /* background-color: greenyellow; */
}

#gotoSignin,
#gotoRegister {
    /* display: inline; */
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s;
}

#gotoSignin:hover,
#gotoRegister:hover {
    color: #506575;
}